# Manipulação de arquivos e EXIF
exiftool-wrapper
pyexiftool
pathlib

# Tipagem e utilitários
typing-extensions
tqdm

# Processamento de imagem e vídeo
opencv-python
moviepy==1.0.3
numpy<2.3.0
Pillow
pillow-heif  # suporte a imagens HEIC
pyheif       # suporte alternativo a HEIC

# Texto e narração
transformers
gTTS

# Geolocalização e mapas
geopy
folium

# CLI e TUI (opcional)
rich
